/* Fonts */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --default-font: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Raleway", sans-serif;
  --nav-font: "Poppins", sans-serif;
  --blue: #a0c9f0;
  --jade: #d8eac8;
  --royal: #0000ff;
}

body {
  font-family: var(--default-font);
  text-align: center;
  background-color: #f8f9fa;
}

h1,
h2 {
  font-family: var(--heading-font);
}

h1 {
  padding-top: 5rem;
  padding-bottom: 2rem;
}
h3 {
  font: --nav-font;
  padding-top: 1rem;
}

.search-container {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}

#address {
  border-radius: 20px;
  padding: 10px 15px;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  border-radius: 20px 0 0 20px;
}

#address:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#search-button {
  background-color: var(--blue);
  border: none;
  border-radius: 0 20px 20px 0;
  padding: 8.3px 15px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#search-button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#search-button .material-icons {
  font-size: 1.2rem;
  color: #444;
}

#hidden-submit-button {
  display: none;
}

.alert {
  position: relative;
  top: 10;
  left: 0;
  width: auto;
  height: auto;
  padding: 10px;
  margin: 10px;
  line-height: 1.8;
  border-radius: 5px;
  cursor: hand;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: 400;
}

.alertCheckbox {
  display: none;
}

:checked + .alert {
  display: none;
}

.alertText {
  display: table;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
}

.alertClose {
  float: right;
  padding-left: 15px;
  font-size: 12px;
  font-weight: bold;
}

.clear {
  clear: both;
}

.error {
  background-color: #fee;
  border: 1px solid #edd;
  color: #a66;
}

#map {
  position: relative;
  top: 20px;
  bottom: 0px;
  width: 100%;
  height: 500px;
}
.marker {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  width: 90%;
  padding-bottom: 50px;
}

blockquote {
  background: white;
  padding: 20px 30px 20px 30px;
  margin: 50px auto;
  width: 50%;
  max-width: 500px;
}

.stacked {
  border: solid 2px;
  border-color: var(--blue);
  padding: 20px 30px 20px 30px;
  box-shadow: 13px 13px 0 0 white, 15px 15px 0 0 var(--blue),
    15px 11px 0 0 var(--blue), 11px 15px 0 0 var(--blue);
}

.shadow {
  border: solid 2px;
  border-color: var(--blue);
  box-shadow: 15px 15px 0 0 var(--blue);
}

.rule {
  position: relative;
  left: 7px;
  background: #e1eef9;
  box-shadow: -2px 0 0 var(--blue), -4px 0 0 var(--blue), -7px 0 0 var(--blue);
}
