/* Fonts */
:root {
  --default-font: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Raleway", sans-serif;
  --nav-font: "Poppins", sans-serif;
  --blue: #a0c9f0;
  --jade: #d8eac8;
  --royal: #0000ff;
}

body {
  font-family: var(--default-font);
  text-align: center;
  background-color: #f8f9fa;
}

h1,
h2,
h3 {
  font-family: var(--heading-font);
}

h1 {
  padding-top: 5rem;
}
.search-container {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}

#address {
  border-radius: 20px;
  padding: 10px 15px;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  /* flex-grow: 1; */
  border-radius: 20px 0 0 20px;
}

#address:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#search-button {
  background-color: var(--blue); /* Adjust background color as needed */
  border: none; /* Remove default border */
  border-radius: 0 20px 20px 0; /* Round the right side of the button */
  padding: 8.3px 15px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#search-button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#search-button .material-icons {
  font-size: 1.2rem;
  color: #444; /* Adjust icon color as needed */
}

#submit {
  /* Hidden submit button */
  display: none;
}

.wrapper {
  margin: 0 auto;
  width: 90%;
  padding-bottom: 50px;
}

blockquote {
  background: white;
  padding: 20px 30px 20px 30px;
  margin: 50px auto;
  width: 50%;
  max-width: 500px;
}

.stacked {
  border: solid 2px;
  border-color: var(--blue);
  padding: 20px 30px 20px 30px;
  box-shadow: 13px 13px 0 0 white, 15px 15px 0 0 var(--blue),
    15px 11px 0 0 var(--blue), 11px 15px 0 0 var(--blue);
}

.shadow {
  border: solid 2px;
  border-color: var(--blue);
  box-shadow: 15px 15px 0 0 var(--blue);
}

.rule {
  position: relative;
  left: 7px;
  background: #e1eef9;
  box-shadow: -2px 0 0 var(--blue), -4px 0 0 var(--blue), -7px 0 0 var(--blue);
}

/* .rule {
  position: relative;
  left: 7px;
  background: var(--jade);
  box-shadow: -2px 0 0 var(--jade), -4px 0 0 lighten(var(--jade), 40%),
    -7px 0 0 var(--jade);
} */

/* .blurb {
  margin-top: 30px;
  padding: 20px;

  border-radius: 10px;
  text-align: center;
}
.blurb h3 {
  color: #007bff;
}
.blurb p {
  line-height: 1.6;
} */
