{% extends "base.html" %}

{% block content %}
<h1>Got sharps? We've got you.</h1>
<form id="search-form" method="POST" action="{{ url_for('routes.index') }}" role="search">
    <div class="search-container"> 
        {{ form.hidden_tag() }}
        <br>
        {{ form.address( id="address", value=form.address.default) }}
        <button id="search-button" type="submit" aria-label="Search"><span class="material-icons">search</span></button>
        
    </div>
    <h3 aria-label="Nearby locations">Search Nearby Health Facilities</h3>
    <label>
        <input type="checkbox" class="alertCheckbox" autocomplete="off" id="error-message" style="display: none;">
            <div id='alert-div' class="alert error"  role="alert" style="display:none;">
                <span class="alertClose">X</span>
                    <span class="alertText">
                        <br class="clear"/>
                    </span>
            </div>
        </input>
    <label>
</form>

{% if facilities %}
    
    <div id="map" aria-label="Interactive map showing nearby facilities" role="application"></div>
    <script>
        
            window.facilities = {{ facilities|tojson }};
            window.accessToken = "{{ access_token }}";  
    </script>
{% endif %}

<div class="wrapper" role="article" aria-label="Sharps Disposal Information"> 
    <blockquote class="stacked" aria-label="Quote about sharps disposal for those with diabetes and health management needs.">
         <p> Whether you're battling diabetes, managing health at home, or just need a safe needle spot, we're here for you.
            <br>
            <strong>Tossing sharps right = community superpower.</strong></p>    
    </blockquote>
    <blockquote class="shadow" aria-label="Quote about safety and ease of sharps disposal.">
        <p> No accidental ouches, no blood nasties. Just good vibes.
            <br>
            <strong>The map finds your closest drop-off, easy-peasy.📍</strong>
    </blockquote>
    <blockquote class="rule" aria-label="Quote encouraging responsible sharps disposal and community health.">
        <p>
            Let's keep our streets clean and our fam healthy!
            <br>
            Ready to level up your disposal game?
            <br>
            <strong>Let's go!</strong>
        </p>
    </blockquote>
</div>


{% endblock %}