{% extends "base.html" %}

{% block content %}
<h1>Got sharps? We've got your back!</h1>
<form method="POST" action="{{ url_for('routes.index') }}" role="search">
    <div class="search-container"> 
        {{ form.hidden_tag() }}
        <br>
        {{ form.address(size=32, id="address") }}
        <button id="search-button" type="submit" aria-label="Search"><span class="material-icons">search</span></button>
        <input type="submit" id="submit" name="submit" style="display: none;">
    </div>
</form>

{% if facilities %}
    <h3 aria-label="Nearby locations">Search Nearby Health Facilities</h3>
    <div id="map" aria-label="Interactive map showing nearby facilities" role="application"></div>
    <script>
        
            window.facilities = {{ facilities|tojson }};
            window.accessToken = "{{ access_token }}";  // Ensure access_token is passed correctly
    </script>
{% endif %}

<div class="wrapper"> 
    <blockquote class="stacked">
         <p> Whether you're battling diabetes, managing health at home, or just need a safe needle spot, we're here for you.
            <br>
            <strong>Tossing sharps right = community superpower.</strong></p>    
    </blockquote>
    <blockquote class="shadow">
        <p> No accidental ouches, no blood nasties. Just good vibes.
            <br>
            <strong>The map finds your closest drop-off, easy-peasy.📍</strong>
    </blockquote>
    <blockquote class="rule">
        <p>
            Let's keep our streets clean and our squad healthy!
            <br>
            Ready to level up your disposal game?
            <br>
            <strong>Let's go! 🚀</strong>
        </p>
    </blockquote>
</div>

<style>
    body { margin:0px; padding:0px; }
    #map { position:relative; top:20px; bottom:0px; width:100%; height:500px; }
    .marker {
        display: block;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        padding: 0;
    }
</style>

{% endblock %}
